# This notebook will demonstrate all the features I developed for the project.

In [1]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd
import os

## Get all the connecting information

In [2]:
MYSQL_USER = 'root'
MYSQL_PW = os.getenv('my_sql_pw')
MYSQL_HOST = 'localhost'
MYSQL_DB = 'album_information'

def connect_to_db():
    cnx = None
    try:
        cnx = mysql.connector.connect(user=MYSQL_USER, password=MYSQL_PW, host=MYSQL_HOST, database=MYSQL_DB)
        return cnx
    except mysql.connector.Error as db_error:
        if db_error.errno == errorcode.ER_ACCESS_DENIED_ERROR:
            print("Something is wrong with your user name or password")
        elif db_error.errno == errorcode.ER_BAD_DB_ERROR:
            print("Database does not exist")
        else:
            print(db_error)
        raise db_error

## Read all the album information from the database view album_information into a dataframe

In [11]:
try:
    cnx = connect_to_db()
    cursor = cnx.cursor()
    query = 'select * from album_information'
    cursor.execute(query)
    albums_table = cursor.fetchall()
    albums_df = pd.DataFrame(albums_table, columns=cursor.column_names)
    albums_df = albums_df.set_index(['album_name', 'album_release_date', 'artist_name'])
    display(albums_df)
    cnx.close()
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with your user name or password")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)

,,,genre_name,record_label_name
album_name,album_release_date,artist_name,,
The Dark Side of the Moon,1973-03-01,Pink Floyd,Rock,Harvest Capitol Records

## Read all the album detail information from the database view album_information details into a dataframe

In [13]:
try:
    cnx = connect_to_db()
    cursor = cnx.cursor()
    query = 'select * from album_information_details'
    cursor.execute(query)
    albums_table = cursor.fetchall()
    albums_df = pd.DataFrame(albums_table, columns=cursor.column_names)
    albums_df = albums_df.set_index(['album_name', 'album_release_date', 'artist_name', 'record_label_name', 'track_number'])
    display(albums_df)
    cnx.close()
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with your user name or password")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)

                                                                                              genre_name  \
album_name                album_release_date artist_name record_label_name       track_number
The Dark Side of the Moon 1973-03-01         Pink Floyd  Harvest Capitol Records 1                  Rock
                                                                                 2                  Rock
                                                                                 3                  Rock
                                                                                 4                  Rock
                                                                                 5                  Rock
                                                                                 6                  Rock
                                                                                 7                  Rock
                                                                                 8                  Rock
                                                                                 9                  Rock
                                                                                 10                 Rock

                                                                                                             track_name
album_name                album_release_date artist_name record_label_name       track_number
The Dark Side of the Moon 1973-03-01         Pink Floyd  Harvest Capitol Records 1                          Speak to Me
                                                                                 2                 Breathe (In the Air)
                                                                                 3                           On the Run
                                                                                 4                                 Time
                                                                                 5             The Great Gig in the Sky
                                                                                 6                                Money
                                                                                 7                          Us and Them
                                                                                 8                  Any Colour You Like
                                                                                 9                         Brain Damage
                                                                                 10                             Eclipse