# This notebook will demonstrate all the features I developed for the project.

In [1]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd
import os

## Get all the connecting information

In [22]:
MYSQL_USER = 'root'
MYSQL_PW = os.getenv('my_sql_pw')
MYSQL_HOST = 'localhost'
MYSQL_DB = 'album_information'

def connect_to_db():
    cnx = None
    try:
        cnx = mysql.connector.connect(user=MYSQL_USER, password=MYSQL_PW, host=MYSQL_HOST, database=MYSQL_DB)
        return cnx
    except mysql.connector.Error as db_error:
        if db_error.errno == errorcode.ER_ACCESS_DENIED_ERROR:
            print("Something is wrong with your user name or password")
        elif db_error.errno == errorcode.ER_BAD_DB_ERROR:
            print("Database does not exist")
        else:
            print(db_error)
        raise db_error
    
    
# read the query into a dataframe and set the first column as the index
def db_query_to_df(query_string:str):
    try:
        cnx = connect_to_db()
        cursor = cnx.cursor()
        cursor.execute(query_string)
        table = cursor.fetchall()
        df = pd.DataFrame(table, columns=cursor.column_names)
        df = df.set_index(df.columns[0])
        cnx.close()
        return df
    except mysql.connector.Error as db_error:
        if db_error.errno == errorcode.ER_ACCESS_DENIED_ERROR:
            print("Something is wrong with your user name or password")
        elif db_error.errno == errorcode.ER_BAD_DB_ERROR:
            print("Database does not exist")
        else:
            print(db_error)
        raise db_error
    
display(db_query_to_df('select * from record_albums'))
display(db_query_to_df('select * from record_artists'))
display(db_query_to_df('select * from record_genres'))
display(db_query_to_df('select * from record_labels'))
display(db_query_to_df('select * from record_tracks'))

,album_name,album_release_date,artist_id,genre_id,record_label_id
album_id,,,,,
1,The Dark Side of the Moon,1973-03-01,1,1,1

          artist_name
artist_id
1          Pink Floyd

         genre_name genre_description
genre_id
1              Rock        Rock music

                       record_label_name
record_label_id
1                Harvest Capitol Records

                        track_name  track_number  genre_id
track_id
1                      Speak to Me             1         1
2             Breathe (In the Air)             2         1
3                       On the Run             3         1
4                             Time             4         1
5         The Great Gig in the Sky             5         1
6                            Money             6         1
7                      Us and Them             7         1
8              Any Colour You Like             8         1
9                     Brain Damage             9         1
10                         Eclipse            10         1

## Read all the album information from the database view album_information into a dataframe

In [17]:
query = 'select * from album_information'
albums_df = db_query_to_df(query)
albums_df = albums_df.set_index(['album_name', 'album_release_date', 'artist_name'])
display(albums_df)

,,,genre_name,record_label_name
album_name,album_release_date,artist_name,,
The Dark Side of the Moon,1973-03-01,Pink Floyd,Rock,Harvest Capitol Records

## Read all the album detail information from the database view album_information details into a dataframe

In [18]:
query = 'select * from album_information_details'
albums_df = db_query_to_df(query)
albums_df = albums_df.set_index(['album_name', 'album_release_date', 'artist_name', 'record_label_name', 'track_number'])
display(albums_df)

                                                                                              genre_name  \
album_name                album_release_date artist_name record_label_name       track_number
The Dark Side of the Moon 1973-03-01         Pink Floyd  Harvest Capitol Records 1                  Rock
                                                                                 2                  Rock
                                                                                 3                  Rock
                                                                                 4                  Rock
                                                                                 5                  Rock
                                                                                 6                  Rock
                                                                                 7                  Rock
                                                                                 8                  Rock
                                                                                 9                  Rock
                                                                                 10                 Rock

                                                                                                             track_name
album_name                album_release_date artist_name record_label_name       track_number
The Dark Side of the Moon 1973-03-01         Pink Floyd  Harvest Capitol Records 1                          Speak to Me
                                                                                 2                 Breathe (In the Air)
                                                                                 3                           On the Run
                                                                                 4                                 Time
                                                                                 5             The Great Gig in the Sky
                                                                                 6                                Money
                                                                                 7                          Us and Them
                                                                                 8                  Any Colour You Like
                                                                                 9                         Brain Damage
                                                                                 10                             Eclipse